strict_env
if has ghcup; then
  GHC_VER="$(grep -oP '^with-compiler: ghc-\K[\d.]+' cabal.project.local)"
  PATH_add $(ghcup run --ghc "$GHC_VER" -i 2>/dev/null)
fi

export LOCALE_ARCHIVE=/usr/lib/locale/locale-archive
# load_prefix /usr
load_prefix /usr/local

# disable cardano-testnet retries
export DISABLE_RETRIES=1
