strict_env
if has ghcup; then
  GHC_VER="$(grep -oP '^with-compiler: ghc-\K[\d.]+' cabal.project.local)"
  PATH_add $(ghcup run --ghc "$GHC_VER" -i 2>/dev/null)
fi

load_prefix /usr
load_prefix /usr/local
