
# this ignores everything except meta-project configuration files
# this allows users to keep anything they want in this directory like
# temporarily cloned repos with dependencies for the time being
*

!.gitignore
!.gitmodules
!README.md
!LICENSE

# metaproject configuration files
!.envrc
!cabal.project
!cabal.project.local
!hie.yaml
!CODEOWNERS
!haskdogs-dirs.txt
!inotifywait.sh

# cardano projects
!cardano-dev
!cardano-api
!cardano-cli
!cardano-node
