[submodule "cardano-api"]
	path = cardano-api
	url = git@github.com:input-output-hk/cardano-api.git
	branch = main
[submodule "cardano-cli"]
	path = cardano-cli
	url = git@github.com:input-output-hk/cardano-cli.git
	branch = newhoggy/update-to-cardano-api-8.13.0.0
[submodule "cardano-dev"]
	path = cardano-dev
	url = git@github.com:input-output-hk/cardano-dev.git
	branch = main
[submodule "hedgehog-extras"]
	path = hedgehog-extras
	url = git@github.com:input-output-hk/hedgehog-extras.git
	branch = main
