# this ignores everything except meta-project configuration files
# this allows users to keep anything they want in this directory like
# temporarily cloned repos with dependencies for the time being
*

# metaproject configuration files
!.gitignore
!.gitmodules
!README.md
!cabal.project
!cabal-hackage.project
!hie.yaml
!get-chap-versions.sh

# cardano projects
!cardano-dev
!cardano-api
!cardano-cli
!cardano-node
